<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VouchrFrontEnd" guice-stage="DEVELOPMENT">
  <test thread-count="5" name="VouchrFrontEnd">
    <classes>
      <class name="PACKAGE1.TemplateCreation"> </class> 
    </classes>
  </test> <!-- Default test(failed) -->
</suite> <!-- Failed suite [Default suite] -->
